.DS_Store
dist
cosmos-sdk

# local env files
.env.local
.env.*.local
.env*

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Local Netlify folder
.netlify

node_modules/*
!node_modules/@cosmos-ui/
package-lock.json